@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Belleza", "Noto Sans KR", sans-serif;
}

a {
  color: white;
}

/* -----------header------------------------------- */
header {
  width: 100%;
  padding: none;
  position: sticky;
  z-index: 100;
  transition: all 2s;
}

header a {
  color: black;
}

header .logo {
  font-size: 30px;
  letter-spacing: 5px;
}

.header-wrap {
  width: 1100px;
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

header .menu ul {
  display: flex;
  flex-flow: row wrap;
}
header .menu ul li {
  padding: 0 10px;
  text-align: center;
}

.shop-section1 {
  width: 100%;
  background-color: rgb(238, 237, 237);
  padding: 10px 0;
}

.shop-section1 h2 {
  width: 1000px;
  margin: 0 auto;
}
/* ------------------ */

a:link,
a:hover,
a:visited {
  text-decoration: none;
}

.all {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.pdt-wrap {
  margin: 0 auto;
  width: 500px;
}

/* .pdt-wrap .pdt-main-container .pdt-info {
  background-color: bisque;
  height: 500px;
  width: 100%;
  padding: 0 50px; */

/* .pdt-wrap .pdt-main-container .pdt-info .count-price-wrap {
  padding: 50px 0;
  border-top: 1px solid lightgray;
} */
/* ---------pdt0section2--------- */

/* 수정 */

.pdt-main-container {
  margin-top: 60px;
  padding: 50px;
  display: flex;
  /* justify-content: center; */
  flex-flow: column wrap;
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sumnail-wrap {
  text-align: right;
  height: 400px;
  width: 400px;
  overflow: hidden;
  border-radius: 20px;
}
.sumnail-wrap:hover img {
  transform: scale(1.1, 1.1);
  border-radius: 20px;
}
.sumnail-wrap img {
  border-radius: 20px;
  width: 100%;
  transition: all 1s;
  transform: scale(1, 1);
}

.card-body {
  display: flex;
  flex-direction: column;
}

.aaa {
  padding-left: 50px;
  width: 500px;
}

.pdt-name {
  font-weight: bold;
  font-size: 25px;
  text-align: right;
  padding: 0 20px;
}
.pdt-name .price {
  margin-top: 10px;
  font-weight: bold;
}
.pdt-info {
  align-items: center;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
}

.item-button {
  display: flex;
  align-items: center;
}

.item-order-btn {
  width: 130px;
  height: 50px;
  cursor: pointer;
  border: solid 1px;
  border-radius: 5px;
  transition: all 0.2s;
}

#baket {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: none;
  transition: all 1s;
}

#baket:hover {
  color: black;

  background-color: rgba(216, 216, 216, 0.5);
  border: none;
}

#purchaseButton {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: none;
  transition: all 1s;
}

#purchaseButton:hover {
  color: black;
  background-color: rgba(216, 216, 216, 0.5);
  border: none;
}

/*  ------oreder baket wrap */
.order-baket-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.order-baket-wrap button {
  width: 40%;
  padding: 10px 0;
  border-radius: 20px;
}
/* ---FOOTER */
/* ------footer---- */
footer {
  background-color: rgb(14, 14, 14);
  padding: 50px 20px;
  margin-top: 100px;
}
footer .contents-wrap {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
footer .contents-wrap .contents1 {
  width: 70%;
  color: white;
  line-height: 30px;
}
footer .contents-wrap .contents1 span {
  margin-right: 20px;
}
footer .contents-wrap .contents2 {
  width: 30%;
}
footer .contents-wrap .contents2 i {
  margin-right: 15px;
  color: white;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.contents1 a {
  color: white;
}
