* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  color: white;
}

/* -----------header------------------------------- */
.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-size: 30px;
  letter-spacing: 5px;
}

.logo img {
  width: 50px;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  font-weight: bold;
}

header a {
  color: black
}

header h2 {
  margin: 0 auto;
}

.header-wrap {
  width: auto;
  max-width: 1000px;
  padding: 30px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header .menu ul {
  display: flex;
  flex-flow: row wrap;
}
header .menu ul li {
  padding: 0 10px;
  text-align: center;
}

.shop-section1 {
  width: 100%;
  background-color: rgb(238, 237, 237);
  padding: 10px 0;
}

.shop-section1 h2 {
  width: 1000px;
  margin: 0 auto;
}
/* ------------------ */

a:link,
a:hover,
a:visited {
  text-decoration: none;
}

.all {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.pdt-wrap {
  margin: 0 auto;
  width: 80%;
}
.pdt-wrap .pdt-main-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex: row wrap;
}
.pdt-wrap .pdt-main-container .sumnail-wrap {
  width: 100%;
  height: 500px;
  background-color: aqua;
}
.pdt-wrap .pdt-main-container .pdt-info {
  background-color: bisque;
  height: 500px;
  width: 100%;
  padding: 0 50px;
}
.pdt-wrap .pdt-main-container .pdt-info .count-price-wrap {
  padding: 50px 0;
  border-top: 1px solid lightgray;
}
/* ---------pdt0section2--------- */
.pdt-section2 {
  width: 50%;
  margin: 0 auto;
}
