<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Platform 19</title>
    <link rel="stylesheet" href="item.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="shop-section1">
      <h2>ORDER</h2>
    </section>

    <section class="pdt-wrap pdt-section1">
      <div class="pdt-main-container">
        <div class="sumnail-wrap">
          <img src="#" alt="상품이미지" class="sumnail image" />
        </div>
        <div class="pdt-info">
          <div class="pdt-name">
            <p class="name"></p>
          </div>
          <div class="pdt-price">
            <p class="price"></p>
          </div>
        </div>
        <div class="order-baket-wrap">
          <button id="purchaseButton">구매하기</button>
          <button id="baket">장바구니에 담기</button>
        </div>
      </div>
    <section>
    <script src="item.js" type="module"></script>
  </body>
</html>
