<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="item.css" />
  </head>
  <body>
    <section class="pdt-wrap pdt-section1">
      <div class="pdt-main-container">
        <div class="sumnail-wrap">
          <img src="#" alt="상품이미지" class="sumnail" />
        </div>
        <div class="pdt-info">
          <div class="pdt-name">
            <p class="name">마법의 지팡이</p>
          </div>
          <div class="pdt-price">
            <p class="price">80000원</p>
          </div>

          <!-- <select name="color" id="#">
            <option value="black">블랙</option>
            <option value="brown">브라운</option>
            <option value="white">화이트</option>
          </select> -->
          <!-- <div class="count-price-wrap">
            <div class="count-wrap">
              <span>주문수량</span>
                <span class="count">0개</span>
              </div>
            <div class="total-wrap">
              <span>총 상품 금액</span>
              <span class="total-price">0원</span>
            </div>
          </div> -->
          <div class="order-baket-wrap">
            <button id="order">구매하기</button>
            <button id="baket">장바구니에 담기</button>
          </div>
        </div>
      </div>
    </section>
    <script src="item.js"></script>
  </body>
</html>
