<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Platform 19</title>
    <link rel="stylesheet" href="item.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="header-container">
      <header>
        <div>
          <div class="header-wrap">
            <a href="/">
            <div class="logo">
              <p>Platform</p>
              <img src="../logo1.PNG" alt="logo">
            </div>
            </a>
            <div class="menu">
              <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/shop">SHOP</a></li>
                <li><a href="/login">Log in</a></li>
                <li><a href="/cart">Cart</a></li>
              </ul>
            </div>
          </div>
        </div>
      <section class="shop-section1">
        <h2>Item</h2>
      </section>
      </header>
    </div>

    <section class="pdt-wrap pdt-section1">
      <div class="pdt-main-container">
        <div class="sumnail-wrap">
          <img src="#" alt="상품이미지" class="sumnail image" />
        </div>

        <div class="aaa">
          <div class="pdt-info">
            <div class="pdt-name">
              <p class="name"></p>
            </div>
            <div class="pdt-price">
              <p class="price"></p>원
            </div>
          </div>
  
          <div class="item-button">
            <div class="order-baket-wrap">
              <button id="baket" class="item-order-btn">장바구니에 담기</button>
            </div>
            <div class="order-baket-wrap">
              <button id="purchaseButton" class="item-order-btn">구매하기</button>
            </div>
          </div>
        </div>
      </div>
    <section>
    <script src="item.js" type="module"></script>
  </body>
</html>
