<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="myPage.css" />
    <script src="myPage.js" type="module"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>Platform 19</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Belleza&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="all">
      <header>
        <div class="header-wrap">
          <div class="logo">
            <a href="/">PLATFORM 9 3/4</a>
          </div>
          <div class="menu">
            <ul id="navbar"></ul>
          </div>
        </div>
      </header>

      <div class="shop-section1">
        <h2>ACCOUNT</h2>
      </div>

      <section class="order-body-wrap">
        <div class="order-box">
          <div class="order-log">
            <p class="card-title">주문 내역</p>
            <div class="card-body">
              <div class="card-item">
                <img id="productImage" src="934.jpg" alt="item1" />
              </div>
              <div class="card-item-info">
                <p class="order-log-item">정말 멋진 상품</p>
                <p class="order-log-quantity">1개</p>
                <p class="order-log-price">상품 가격</p>
              </div>
              <div class="order-status">상품 준비중</div>
            </div>
          </div>
        </div>

        <form>
          <div class="order-box">
            <p class="card-title">회원 정보</p>
            <div class="row">
              <label for="input-text-email">이메일</label>
              <input
                disabled
                id="input-text-email"
                class="input-text"
                type="email"
              />
            </div>
            <div class="row">
              <label for="input-text-name">이름</label>
              <input id="input-text-name" class="input-text" type="text" />
            </div>
            <div class="row">
              <label for="input-text-number">연락처</label>
              <input id="input-text-number" class="input-text" type="text" />
            </div>
            <div class="row">
              <label>주소</label>
              <div class="adress-row">
                <input
                  disabled
                  type="text"
                  id="sample6_postcode"
                  class="input-text-adress"
                  placeholder="우편번호"
                />
                <input type="button" class="adress-btn" value="주소 찾기" />
              </div>
            </div>
            <input
              disabled
              type="text"
              id="sample6_address"
              class="input-text"
              placeholder="주소"
            /><br />
            <input
              type="text"
              id="sample6_detailAddress"
              class="input-text"
              placeholder="상세주소"
            />
            <button type="submit" class="submit-button" id="save">
              변경 사항 저장하기
            </button>
            <button type="submit" class="submit-button" id="quit">
              탈퇴하기
            </button>
          </div>
        </form>
      </section>
    </div>
  </body>
</html>
