<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>admin-order</title>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../admin.css" />
    <script src="admin-order.js" type="module" defer></script>
  </head>

  <body class="is-preload">
    <!-- Header -->
    <div id="header">
      <div class="top">
        <!-- Logo -->
        <div id="logo">
          <!-- <span class="image avatar48"></span> -->
          <h1 id="title">관리자 페이지</h1>
          <p>
            <span>환영합니다.</span>
            <span id="user-name"></span>
            <span>이요섭 님</span>
          </p>
        </div>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li
              style="
                background: rgba(0, 0, 0, 0.15);
                color: #fff;
                font-weight: bold;
              "
            >
              <a href="/admin/items" id="top-link">
                <span class="icon solid fa-home">제품 관리</span>
              </a>
            </li>
            <!-- <li>
              <a href="/admin/category" id="portfolio-link">
                <span class="icon solid fa-th">카테고리 관리</span>
              </a>
            </li> -->
            <li>
              <a href="/admin/users" id="about-link">
                <span class="icon solid fa-user">회원 관리</span>
              </a>
            </li>
            <li>
              <a href="/admin/orders" id="contact-link">
                <span class="icon solid fa-envelope">주문 관리</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Main -->
    <div id="main">
      <!-- Intro -->
      <section class="section one dark cover" style="text-align: center">
        <div class="container">
          <!-- 제목 -->
          <div class="block account-header" style="margin-top: 80px">
            <h1
              class="subtitle is-4"
              style="color: #fff; font-size: 48px; font-weight: bold"
            >
              주문관리
            </h1>
          </div>

          <!-- 총 요약 -->
          <nav
            class="level"
            style="
              display: flex;
              justify-content: space-around;
              margin-top: 40px;
            "
          >
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">총주문수</p>
                <p class="title" id="ordersCount">-</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">상품준비중</p>
                <p class="title" id="prepareCount">-</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">상품배송중</p>
                <p class="title" id="deliveryCount">-</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">배송완료</p>
                <p class="title" id="completeCount">-</p>
              </div>
            </div>
          </nav>

          <div class="container orders-container" id="ordersContainer">
            <div
              class="columns notification is-info is-light is-mobile orders-top"
              style="display: flex; justify-content: space-around"
            >
              <div class="column is-4">주문정보</div>
              <div class="column is-2">주문총액</div>
              <div class="column is-2">상태관리</div>
              <div class="column is-2">취소</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
