* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
}

/* -----------header------------------------------- */
header {
  width: 100%;
  padding: none;
  position: fixed;
  z-index: 100;
  transition: all 2s;
}
header a {
  color: black
}

.down {
  background-color: rgb(0, 0, 0, 0.6);
  transition: all 1.5s;
}
.down1 {
  color: rgb(255, 255, 255);
  transition: all 0.7s;
}

.header-wrap {
  width: 1100px;
  padding: 30px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
}

header .menu ul {
  display: flex;
  flex-flow: row wrap;
}
header .menu ul li {
  padding: 0 10px;
  text-align: center;
}
/* ------------------ */

.cart-wrapper {
  width: 100%;
  height: auto;
}

.cart-field {
  position: relative;
  width: 100%;
  max-width: 1240px;
  min-height: 300px;
  height: auto;
  margin: 0 auto;
  padding: 60px 36px 70px;
}

.cart-title {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 25px;
}

.cart-item {
  text-align: center;
  padding: 100px 0;
  line-height: 1.5em;
  color: #777777;
}
