<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Platform 19</title>

    <link rel="stylesheet" href="cartEmpty.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <!-- font-family: 'Belleza', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet">

    <!-- font-family: 'Noto Sans KR', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="all">
      <header>
        <div class="header-wrap">
          <a href="/">
          <div class="logo">
            <p>Platform</p>
            <img src="../logo1.PNG" alt="logo">
          </div>
        </a>
          <div class="menu">
            <ul>
              <li><a href="/">HOME</a></li>
              <li><a href="/shop">SHOP</a></li>
              <li><a href="/login">Log in</a></li>
              <li><a href="/cart">Cart</a></li>
            </ul>
          </div>
        </div>
      </header>
      <section class="cart-wrapper">
        <div class="cart-field">
          <div class="cart-title">
            <span>장바구니</span>
            <span class="cart-size">(0)</span>
          </div>
          <div class="cart-item">마음에 드는게 없으신가요?</div>
        </div>
      </section>
    </div>
  </body>
</html>
