<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shopping Mall</title>

    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    /> -->

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../admin.css" />
    <script src="admin-user.js" type="module" defer></script>
  </head>
  <body class="is-preload">
    <!-- Header -->
    <div id="header">
      <div class="top">
        <!-- Logo -->
        <div id="logo">
          <!-- <span class="image avatar48"></span> -->
          <h1 id="title">관리자 페이지</h1>
          <p>
            <span>환영합니다.</span>
            <span id="user-name"></span>
            <span>이요섭 님</span>
          </p>
        </div>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li>
              <a href="/admin/items" id="top-link">
                <span class="icon solid fa-home">제품 관리</span>
              </a>
            </li>
            <!-- <li>
              <a href="/admin/category" id="portfolio-link">
                <span class="icon solid fa-th">카테고리 관리</span>
              </a>
            </li> -->
            <li>
              <a href="/admin/users" id="about-link">
                <span class="icon solid fa-user">회원 관리</span>
              </a>
            </li>
            <li>
              <a href="/admin/orders" id="contact-link">
                <span class="icon solid fa-envelope">주문 관리</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Main -->
    <div id="main">
      <!-- Intro -->
      <section id="top" class="one dark cover" style="height: auto">
        <div class="container" style="margin-top: 60px; text-align: center">
          <!-- 회원관리 -->
          <section class="section">
            <div class="container">
              <!-- 제목 -->
              <div class="block account-header">
                <h1
                  class="subtitle is-4"
                  style="
                    color: #fff;
                    font-weight: bold;
                    font-size: 34px;
                    margin-bottom: 8px;
                  "
                >
                  회원관리
                </h1>
              </div>

              <!-- 총 요약 -->
              <nav
                class="level"
                style="display: flex; justify-content: space-around"
              >
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">총 회원 수</p>
                    <p class="title" id="usersCount">-</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">관리자 수</p>
                    <p class="title" id="adminCount">-</p>
                  </div>
                </div>
              </nav>

              <!-- 회원 목록 -->
              <div class="container orders-container" id="usersContainer">
                <div
                  class="columns notification is-info is-light is-mobile orders-top"
                  style="
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                  "
                >
                  <div class="column is-2">가입날짜</div>
                  <div class="column is-2">이메일</div>
                  <div class="column is-2">이름</div>
                  <div class="column is-2">권한</div>
                  <div class="column is-2">관리</div>
                </div>
              </div>
            </div>
          </section>

          <!-- 회원정보를 정말 삭제할 지 묻는 Modal 창 -->
          <div id="modal" class="modal">
            <div class="modal-background" id="modalBackground"></div>
            <div class="modal-content">
              <div class="box">
                <p class="mb-3">
                  회원정보 삭제 시 복구할 수 없습니다. 정말로 삭제하시겠습니까?
                </p>

                <div class="buttons">
                  <button
                    class="button mt-5"
                    id="deleteCompleteButton"
                    aria-label="close"
                  >
                    네
                  </button>
                  <button
                    class="button is-primary mt-5"
                    id="deleteCancelButton"
                    aria-label="close"
                  >
                    아니오
                  </button>
                </div>
              </div>
            </div>

            <button
              class="modal-close is-large"
              id="modalCloseButton"
              aria-label="close"
            ></button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
