* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}

.field-wrapper{
  padding-top: 200px;
}

/* -----------header------------------------------- */
header {
  width: 100%;
  padding: none;
  position: fixed;
  z-index: 100;
  transition: all 2s;
}
header a {
  color: black
}

.down {
  background-color: rgb(0, 0, 0, 0.6);
  transition: all 1.5s;
}
.down1 {
  color: rgb(255, 255, 255);
  transition: all 0.7s;
}

.header-wrap {
  width: 1100px;
  padding: 30px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
}

header .menu ul {
  display: flex;
  flex-flow: row wrap;
}
header .menu ul li {
  padding: 0 10px;
  text-align: center;
}
/* ------------------ */

/* 여기서부터는 회원가입 */
.register-wrapper {
  display: block;
  width: 100%;
  /* max-width: 960px;
  min-height: 300px; */
  height: auto;
  margin: 0 auto;
}

.register {
  width: 400px;
height: 85vh;
  
margin: 0px auto;
color: #222;
text-align: left;
}



.row .header .checkbox-wrapper {
width: 400px;
}

.header {
font-size: 20px;
margin-bottom: 40px;
}

.row {
font-size: 14px;
margin-bottom: 20px;
color:#777;
}

 .title {
margin: 0 0 12px;
}

#emailInput, #fullNameInput, #passwordInput, #passwordConfirmInput {
border: 1px solid #ddd;

font-size: 14px;
color: #777;
line-height: 23px;
width: 400px;
height: 45px;
padding: 10px 15px;
}

/* .checkbox-wrapper {
  display: flex;
margin:10px 0px;
}

.checkpox {
width: 14px;
height: 14px;
}

.check-word {
font-size: 14px;
color: #777;
padding: 0 0 0 10px;
} */


/* 버튼아 예뻐져라 */
.btn-wrapper {
width: 400px;
margin: 20px 0 0;
text-align: center;
} 

.btn-register {
font-size: 14px;
width: 240px;
height: 54px;
background-color: #222;
border-color: #222;
border-radius: 3px;
color: #fff;
cursor: pointer;
transition: all 0.2s;
}

.btn-register:hover {
background-color: #fff;
border-color: #fff;
color: #222;

}

