<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Platform 19</title>

    <link rel="stylesheet" href="register.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <script src="register.js" type="module" defer></script>

    <!-- 폰트 -->
    <!--   font-family: 'Noto Sans KR', sans-serif;;  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&family=Work+Sans:ital,wght@0,200;0,300;1,200;1,300&display=swap"
      rel="stylesheet"
    />
    <!--    font-family: 'Work Sans', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Work+Sans:ital,wght@0,200;0,300;1,200;1,300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- 회원가입 부분 -->

    <div class="register-wrapper">
      <div class="register">
        <form
          class="field-wrapper"
          id="field-wrapper-Form"
          action="/api/register"
          method="POST"
        >
          <div class="header">
            <span class="title">회원가입</span>
          </div>

          <div class="row">
            <label for="emailInput" class="title">이메일 *</label>
            <input id="emailInput" type="email" autocomplete="on" />
          </div>
          <div class="row">
            <label for="fullNameInput" class="title">이름 *</label>
            <input id="fullNameInput" type="name" autocomplete="on" />
          </div>
          <div class="row">
            <label for="passwordInput" class="title">비밀번호 *</label>
            <input
              id="passwordInput"
              type="password"
              placeholder="6이상 입력해주세요"
              autocomplete="off"
            />
          </div>
          <div class="row">
            <label for="passwordConfirmInput" class="title"
              >비밀번호 확인 *</label
            >
            <input
              id="passwordConfirmInput"
              type="password"
              autocomplete="off"
            />
          </div>

          <!-- <div class="checkbox-wrapper">
            <div class="terms__check__all">
              <input type="checkbox" name="checkall" id="checkall">
            </div>
            <label for="checkall" class="check-word">모두 동의합니다.</label>
          </div>
          <div class="checkbox-wrapper">
            <div class="input__check">
              <input type="checkbox" name="agreement" id="termsOfService" >
            </div>
            <label for="termsOfService" class="check-word">(필수) 이용약관과 개인정보 수집 및 이용에 동의합니다.</label>
          </div>
          <div class="checkbox-wrapper">
            <div class="input__check">
              <input type="checkbox" name="agreement" id="ageOfService">
            </div>
            <label for="ageOfService" class="check-word">(필수) 만 14세 이상입니다.</label>
          </div>
          <div class="checkbox-wrapper">
            <div class="input__check">
              <input type="checkbox" name="agreement" id="privacyPolicy">
            </div>
            <label for="privacyPolicy" class="check-word">(필수) 이용약관과 개인정보 수집 및 이용에 동의합니다.<br>만 19세 미만의 미성년자가 결제 시 법정대리인이 거래를 취소할 수 있습니다.
            </label>
          </div>
          <div class="checkbox-wrapper">
            <div class="input__check">
              <input type="checkbox" name="agreement" id="allowPromotions">
            </div>
            <label for="allowPromotions" class="check-word">(선택) 이메일 및 SMS 마케팅 정보 수신에 동의합니다.<br>회원은 언제든지 회원 정보에서 수신 거부로 변경할 수 있습니다.
            </label>
          </div> -->

          <div class="btn-wrapper" id="">
            <button type="submit" class="btn-register" id="submitButton">
              가입하기
            </button>
          </div>
        </form>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="contents-wrap">
          <div class="contents1">
            <p>
              상호: PLATFORM 9 3/4 | 대표: 이요섭 | 개인정보관리책임자: 허재 |
              전화 010-1234-1234
            </p>
            <p>
              팀명: 아즈카반의개발자들 | FE : 안영재 , 허자영 , 김선은 | BE :
              이요섭 , 허재
            </p>
            <p>
              주소: 해리포터길 아즈카반 감옥 26 1호 | 사업자 등록번호:
              123-13-23425
            </p>
            <a href="/">이용약관</a>
            <a href="/">개인정보처리방침</a>
            <a href="/">사업자정보확인</a>
            <p>Copright © 2022 아즈카반의 개발자들. ALL RIGHTS RESERVED.</p>
          </div>
          <div class="contents2">
            <a href="/"><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a href="/"><i class="fa-brands fa-github fa-2x"></i></a>
            <a href="/"><i class="fa-brands fa-discord fa-2x"></i></a>
            <a href="/"><i class="fa-solid fa-envelope fa-2x"></i></a>
            <a href="/"><i class="fa-brands fa-youtube fa-2x"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
