*{ 
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* 여기서부터는 회원가입 */
.register-wrapper {
  display: block;
}

.register {    
width: 100%;
/* max-width: 960px;
min-height: 300px; */
height: auto;
margin: 0 auto;
}

.field-wrapper {
width: 400px;
height: 85vh;
  
margin: 0px auto;
color: #222;
text-align: left;
}

.row .header .checkbox-wrapper {
width: 400px;
}

.header {
font-size: 20px;
margin-bottom: 40px;
}

.row {
font-size: 14px;
margin-bottom: 20px;
color:#777;
}

.title {
margin: 0 0 12px;
}

#emailinput, #nameinput, #passwordinput, #password-check-input {
border: 1px solid #ddd;

font-size: 14px;
color: #777;
line-height: 23px;
width: 400px;
height: 45px;
padding: 10px 15px;
}

.checkbox-wrapper {
  display: flex;
margin:10px 0px;
}

.checkpox {
width: 14px;
height: 14px;
}

.check-word {
font-size: 14px;
color: #777;
padding: 0 0 0 10px;
}


/* 버튼아 예뻐져라 */
.btn-wrapper {
width: 400px;
margin: 20px 0 0;
text-align: center;
}

#btn-register {
font-size: 14px;
width: 240px;
height: 54px;
background-color: #222;
border-color: #222;
border-radius: 3px;
color: #fff;
cursor: pointer;
transition: all 0.2s;
}

#btn-register:hover {
background-color: #fff;
border-color: #fff;
color: #222;

}

