<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>회원가입</title>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="register.css" />
    <script src="register.js" type="module" defer></script>

    <!-- 폰트 -->
    <!--   font-family: 'Noto Sans KR', sans-serif;;  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&family=Work+Sans:ital,wght@0,200;0,300;1,200;1,300&display=swap" rel="stylesheet">
    <!--    font-family: 'Work Sans', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Work+Sans:ital,wght@0,200;0,300;1,200;1,300&display=swap" rel="stylesheet">
  </head>

  <body>

    <!-- 회원가입 부분 -->
    <div class="register-wrapper">
      <div class="register">
        <form class="field-wrapper" id="field-wrapper-Form">
          <div class="header">
            <span class="title">회원가입</span>
          </div>

          <div class="row">
            <label for="emailinput" class="title">이메일 *</label>
            <input id="emailinput" type="email" autocomplete="on"/>
          </div>
          <div class="row">
            <label for="nameinput" class="title">이름 *</label>
            <input id="nameinput" type="name" autocomplete="on"/>
          </div>
          <div class="row">
            <label for="passwordinput" class="title">비밀번호 *</label>
            <input id="passwordinput" type="password" placeholder="6이상 입력해주세요" autocomplete="off"/>
          </div>
          <div class="row">
            <label for="password-check-input" class="title">비밀번호 확인 *</label>
            <input id="password-check-input" type="password" autocomplete="off"/>
          </div>

          <div class="checkbox-wrapper">
            <div class="checkbox">
              <input type="checkbox" id="all_check_agree">
            </div>
            <label for="all_check_agree" class="check-word1">모두 동의합니다.</label>
          </div>
          <div class="checkbox-wrapper">
            <div class="checkbox">
              <input type="checkbox" >
            </div>
            <label class="check-word2">(필수) 이용약관과 개인정보 수집 및 이용에 동의합니다.</label>
          </div>
          <div class="checkbox-wrapper">
            <div class="checkbox">
              <input type="checkbox">
            </div>
            <label class="check-word3">(필수) 만 14세 이상입니다.</label>
          </div>
          <div class="checkbox-wrapper">
            <div class="checkbox">
              <input type="checkbox">
            </div>
            <label class="check-word4">(필수) 이용약관과 개인정보 수집 및 이용에 동의합니다.<br>만 19세 미만의 미성년자가 결제 시 법정대리인이 거래를 취소할 수 있습니다.
            </label>
          </div>
          <div class="checkbox-wrapper">
            <div class="checkbox">
              <input type="checkbox">
            </div>
            <label class="check-word5">(선택) 이메일 및 SMS 마케팅 정보 수신에 동의합니다.<br>회원은 언제든지 회원 정보에서 수신 거부로 변경할 수 있습니다.
            </label>

          </div>
          <div class="btn-wrapper">
            <button id="btn-register">가입하기</button>
          </div>



        </form>

      </div>
    </div>




  </body>
</html>
