<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="shop.css" />
  </head>
  <body>
    <header>
      <div class="header-wrap">
        <div class="logo"><a href="#">logo</a></div>
        <div class="menu">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="../shop/shop.html" role="button">SHOP</a></li>
            <li>
              <a href="../login/login.html" role="button">Log in</a>
            </li>

            <li><a href="../cart/cart.html">Cart</a></li>
            <li><a href="#" hidden class="logOut">로그아웃</a></li>
            <li><a href="#" hidden class="myPage">마이페이지</a></li>
            <li><a href="#" hidden class="adminLogin">관리자 로그인</a></li>
          </ul>
        </div>
      </div>
    </header>
    <section class="shop-section1">
      <h2>SHOP</h2>
    </section>
    <section class="shop-section2">
      <div class="cate item-tab">
        <nav>
          <ul>
            <li class="cate-list"><a class="on" data-filter="*">ALL</a></li>
            <li class="cate-list"><a data-filter="magicStick">지팡이</a></li>
            <li class="cate-list"><a data-filter="magicJar">힝아리</a></li>
            <li class="cate-list"><a data-filter="magicItem">마법용품</a></li>
          </ul>
        </nav>
      </div>

      <div class="item-list"></div>
      <div class="more-btn">
        <a href="#">더보기</a>
      </div>
    </section>
  </body>
  <script src="shop.js"></script>
  <script src="js/jquery-3.6.0.js"></script>
</html>
