* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Belleza", "Noto Sans KR", sans-serif;
}

/* -----------header------------------------------- */
header {
  width: 100%;
  padding: none;
  position: sticky;
  z-index: 100;
  transition: all 2s;
}

header a {
  color: black;
}

header .logo {
  font-size: 30px;
  letter-spacing: 5px;
}

.logo p {
  font-size: 30px;
  letter-spacing: 5px;
}

.logo img {
  width: 50px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.shop-section1 {
  width: 100%;
  background-color: rgb(238, 237, 237);
  padding: 10px 0;
}
.shop-section1 h2 {
  width: 1000px;
  margin: 0 auto;
}

.down {
  background-color: rgb(0, 0, 0, 0.6);
  transition: all 1.5s;
}
.down1 {
  color: rgb(255, 255, 255);
  transition: all 0.7s;
}

.header-wrap {
  width: 1100px;
  padding: 30px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

header .menu ul {
  display: flex;
  flex-flow: row wrap;
}
header .menu ul li {
  padding: 0 10px;
  text-align: center;
}
/* -----------section2 ---- */
.shop-section2 {
  width: 1000px;
  margin: 0 auto;
}

.shop-section2 .cate nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  padding: 50px 0;
}
.shop-section2 .cate nav ul li {
  margin-right: 40px;
}
/* --------아이템 리스트 --- */
.shop-section2 .item-list {
  width: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 10px;
}
.shop-section2 .more-btn {
  background-color: antiquewhite;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.shop-section2 .more-btn a {
  line-height: 25px;
}
/* ------footer---- */
footer {
  background-color: rgb(14, 14, 14);
  padding: 50px 20px;
  margin-top: 100px;
}
footer .contents-wrap {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
footer .contents-wrap .contents1 {
  width: 70%;
  color: white;
  line-height: 30px;
}
footer .contents-wrap .contents1 span {
  margin-right: 20px;
}
footer .contents-wrap .contents2 {
  width: 30%;
}
footer .contents-wrap .contents2 i {
  margin-right: 15px;
  color: white;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
