<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="shop.css" />
  </head>
  <body>
    <section class="shop-section1">
      <h2>SHOP</h2>
    </section>
    <section class="shop-section2">
      <div class="cate">
        <nav>
          <ul>
            <li><a href="#">all</a></li>
            <li><a href="#">best</a></li>
            <li><a href="#">지팡이</a></li>
            <li><a href="#">부엉이</a></li>
            <li><a href="#">빗자루</a></li>
          </ul>
        </nav>
      </div>

      <div class="item-list">
        <div class="product">
          <div class="sumnail">
            <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
          </div>
          <div class="product-info">
            <p class="name">아브라카다브라</p>
            <p class="price">8000 원</p>
          </div>
        </div>
        <div class="product">
          <div class="sumnail">
            <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
          </div>
          <div class="product-info">
            <p class="name">아브라카다브라</p>
            <p class="price">8000 원</p>
          </div>
        </div>
        <div class="product">
          <div class="sumnail">
            <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
          </div>
          <div class="product-info">
            <p class="name">아브라카다브라</p>
            <p class="price">8000 원</p>
          </div>
        </div>
        <div class="product">
          <div class="sumnail">
            <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
          </div>
          <div class="product-info">
            <p class="name">아브라카다브라</p>
            <p class="price">8000 원</p>
          </div>
        </div>
        <div class="product">
          <div class="sumnail">
            <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
          </div>
          <div class="product-info">
            <p class="name">아브라카다브라</p>
            <p class="price">8000 원</p>
          </div>
        </div>
        <div class="product">
          <div class="sumnail">
            <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
          </div>
          <div class="product-info">
            <p class="name">아브라카다브라</p>
            <p class="price">8000 원</p>
          </div>
        </div>
        <div class="product">
          <div class="sumnail">
            <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
          </div>
          <div class="product-info">
            <p class="name">아브라카다브라</p>
            <p class="price">8000 원</p>
          </div>
        </div>
        <div class="product">
          <div class="sumnail">
            <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
          </div>
          <div class="product-info">
            <p class="name">아브라카다브라</p>
            <p class="price">8000 원</p>
          </div>
        </div>
        <div class="product">
          <div class="sumnail">
            <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
          </div>
          <div class="product-info">
            <p class="name">아브라카다브라</p>
            <p class="price">8000 원</p>
          </div>
        </div>
        <div class="product">
          <div class="sumnail">
            <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
          </div>
          <div class="product-info">
            <p class="name">아브라카다브라</p>
            <p class="price">8000 원</p>
          </div>
        </div>
      </div>
      <div class="more-btn">
        <a href="#">더보기</a>
      </div>
    </section>
  </body>
</html>
