<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="shop.css" />
  </head>
  <body>
    <section class="shop-section1">
      <h2>SHOP</h2>
    </section>
    <section class="shop-section2">
      <div class="cate">
        <nav>
          <ul>
            <li class="cate-list all">ALL</li>
            <li class="cate-list magicStick">지팡이</li>
            <li class="cate-list magicStick">힝아리</li>
            <li class="cate-list magicStick"></li>
            <li></li>
          </ul>
        </nav>
      </div>

      <div class="item-list"></div>
      <div class="more-btn">
        <a href="#">더보기</a>
      </div>
    </section>
  </body>
  <script src="shop.js"></script>
</html>
