<!DOCTYPE html>
<html>
  <head>
    <title>admin</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="./admin.css" />
    <script src="./browser.min.js"></script>
    <script src="./breakpoints.min.js"></script>
    <script src="./jquery.min.js"></script>
    <script src="./util.js"></script>
    <script src="./jquery.scrolly.min.js"></script>
    <script src="./jquery.scrollex.min.js"></script>
    <script src="./admin.js" type="module"></script>
  </head>
  <body class="is-preload">
    <!-- Header -->
    <div id="header">
      <div class="top">
        <!-- Logo -->
        <div id="logo">
          <!-- <span class="image avatar48"></span> -->
          <h1 id="title">관리자 페이지</h1>
          <p>환영합니다.</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li>
              <a href="/admin/items" id="top-link">
                <span class="icon solid fa-home">제품 관리</span>
              </a>
            </li>
            <li>
              <a href="/admin/category" id="portfolio-link">
                <span class="icon solid fa-th">카테고리 관리</span>
              </a>
            </li>
            <li>
              <a href="/admin/users" id="about-link">
                <span class="icon solid fa-user">회원 관리</span>
              </a>
            </li>
            <li>
              <a href="/admin/orders" id="contact-link">
                <span class="icon solid fa-envelope">주문 관리</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Main -->
    <div id="main">
      <!-- Intro -->
      <section id="top" class="one dark cover">
        <div class="container">
          <header>
            <h2 class="alt">
              <!-- Hi! I'm <strong>Prologue</strong>, a
              <a href="http://html5up.net/license">free</a> responsive<br />
              site template designed by
              <a href="http://html5up.net">HTML5 UP</a>. -->
              여기는 관리자 페이지입니다.
            </h2>
            <p>
              관리자 페이지에서는 제품 추가와 그에 따른 새로운 카테고리도 추가가
              가능합니다.<br />
              또한, 회원 정보를 수정, 삭제, 관리자 권한을 부여하는 기능도 담고
              있으며, <br />
              어떤 유저가 어떤 제품을 구매하였는지도 알 수 있습니다. <br />
              유저가 구매한 제품을 회원 정보 조희를 통해 주소지로 배송까지
              가능하게 구현했습니다.<br />
            </p>
          </header>

          <footer>
            <a href="/admin/orders" class="button scrolly">주문 관리</a>
            <a href="/admin/items" class="button scrolly">제품 관리</a>
            <a href="/admin/users" class="button scrolly">회원 관리</a>
            <a href="/admin/category" class="button scrolly">카테고리 관리</a>
          </footer>
        </div>
      </section>

      <!-- Portfolio -->
      <!-- <section id="portfolio" class="two">
        <div class="container">
          <header>
            <h2>Portfolio</h2>
          </header>

          <p>
            Vitae natoque dictum etiam semper magnis enim feugiat convallis
            convallis egestas rhoncus ridiculus in quis risus amet curabitur
            tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam
            vivamus eget. Nunc nibh morbi quis fusce hendrerit lacus ridiculus.
          </p>

          <div class="row">
            <div class="col-4 col-12-mobile">
              <article class="item">
                <a href="#" class="image fit"></a>
                <header>
                  <h3>Ipsum Feugiat</h3>
                </header>
              </article>
              <article class="item">
                <a href="#" class="image fit"></a>
                <header>
                  <h3>Rhoncus Semper</h3>
                </header>
              </article>
            </div>
            <div class="col-4 col-12-mobile">
              <article class="item">
                <a href="#" class="image fit"></a>
                <header>
                  <h3>Magna Nullam</h3>
                </header>
              </article>
              <article class="item">
                <a href="#" class="image fit"></a>
                <header>
                  <h3>Natoque Vitae</h3>
                </header>
              </article>
            </div>
            <div class="col-4 col-12-mobile">
              <article class="item">
                <a href="#" class="image fit"></a>
                <header>
                  <h3>Dolor Penatibus</h3>
                </header>
              </article>
              <article class="item">
                <a href="#" class="image fit"></a>
                <header>
                  <h3>Orci Convallis</h3>
                </header>
              </article>
            </div>
          </div>
        </div>
      </section> -->

      <!-- About Me -->
      <!-- <section id="about" class="three">
        <div class="container">
          <header>
            <h2>About Me</h2>
          </header>

          <a href="#" class="image featured"></a>

          <p>
            Tincidunt eu elit diam magnis pretium accumsan etiam id urna.
            Ridiculus ultricies curae quis et rhoncus velit. Lobortis elementum
            aliquet nec vitae laoreet eget cubilia quam non etiam odio tincidunt
            montes. Elementum sem parturient nulla quam placerat viverra mauris
            non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
            donec curae mus vel quisque sociis nec ornare iaculis.
          </p>
        </div>
      </section> -->

      <!-- Contact -->
      <!-- <section id="contact" class="four">
        <div class="container">
          <header>
            <h2>Contact</h2>
          </header>

          <p>
            Elementum sem parturient nulla quam placerat viverra mauris non cum
            elit tempus ullamcorper dolor. Libero rutrum ut lacinia donec curae
            mus. Eleifend id porttitor ac ultricies lobortis sem nunc orci
            ridiculus faucibus a consectetur. Porttitor curae mauris urna mi
            dolor.
          </p>

          <form method="post" action="#">
            <div class="row">
              <div class="col-6 col-12-mobile">
                <input type="text" name="name" placeholder="Name" />
              </div>
              <div class="col-6 col-12-mobile">
                <input type="text" name="email" placeholder="Email" />
              </div>
              <div class="col-12">
                <textarea name="message" placeholder="Message"></textarea>
              </div>
              <div class="col-12">
                <input type="submit" value="Send Message" />
              </div>
            </div>
          </form>
        </div>
      </section> -->
    </div>
  </body>
</html>
