<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="modal.css">
    <script src="modal.js" type="module" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="modal-total">
        <div class="overlay"></div>
        <div class="modal-wrapper">
          <div class="modal-inner">
            <div class="thumb"></div>
            <div class="bottom-info">
              <p class="description">
                환영합니다! 모달창!
              </p>
              <button class="modal-close-button">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button class="modal-open-button">이걸 누르면 모달창이 나옵니다</button>
      </div>
</body>
</html>