<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="orderComplete.css" />
    <title>ORDER</title>
    <script src="order.js" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </head>
  <body>
    <div class="all">
      <header>
        <div class="header-wrap">
          <div class="logo"><a href="#">logo</a></div>
          <div class="menu">
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="../shop/shop.html">SHOP</a></li>
              <li><a href="../login/login.html">Log in</a></li>
              <li><a href="../cart/cart.html">Cart</a></li>
            </ul>
          </div>
        </div>
      </header>
      <section class="order-body-wrap">
        <div class="order-box">
            <p>주문이 완료되었습니다!</p>
            <div class="btn-wrapper">
              <a href="../myPage/myPage.html"><button type="submit" class="submit-button" id="login-btn">
                주문내역 보기
              </button></a>
              <a href="../home/home.html"><button class="submit-button" id="signup-btn">쇼핑 계속하기</button></a>
            </div>
        </div>
      </section>
    </div>
  </body>
</html>
