<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="orderComplete.css" />
    <title>Platform</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="all">
      <div class="header-container">
        <header>
          <div>
            <div class="header-wrap">
              <a href="/">
              <div class="logo">
                <p>Platform</p>
                <img src="../logo1.PNG" alt="logo">
              </div>
              </a>
              <div class="menu">
                <ul>
                  <li><a href="/">HOME</a></li>
                  <li><a href="/shop">SHOP</a></li>
                  <li><a href="/login">My Page</a></li>
                  <li><a href="/cart">Cart</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
      </div>
      <section class="order-body-wrap">
        <div class="order-box">
            <p>주문이 완료되었습니다!</p>
            <div class="btn-wrapper">
              <a href="../myPage/myPage.html"><button type="submit" class="submit-button" id="login-btn">
                주문내역 보기
              </button></a>
              <a href="../home/home.html"><button class="submit-button" id="signup-btn">쇼핑 계속하기</button></a>
            </div>
        </div>
      </section>
    </div>
  </body>
</html>
