<html>
  <head>
    <link rel="stylesheet" href="passwordFind.css" />
    <title>PASSWORD FIND</title>
    <!-- font-family: 'Belleza', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet">

    <!-- font-family: 'Noto Sans KR', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="all">
      <header>
        <div class="header-wrap">
          <div class="logo"><a href="#">logo</a></div>
          <div class="menu">
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="../shop/shop.html">SHOP</a></li>
              <li><a href="../login/login.html">Log in</a></li>
              <li><a href="../cart/cart.html">Cart</a></li>
            </ul>
          </div>
        </div>
      </header>
      <section class="password-wrapper">
        <div class="password-field">
          <p class="password-title">비밀번호 찾기</p>
          <div class="row">
            <label for="name-input">이름</label>
            <input id="name-input" type="text" />
          </div>
          <div class="row">
            <label for="email-input">이메일</label>
            <input id="email-input" type="password" />
          </div>
          <div class="btn-wrapper">
            <button type="submit" class="submit-button" id="email-send-btn">
              이메일 보내기
            </button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
