* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  margin: 40px;
}

.password-wrapper {
  width: 100%;
  height: auto;
  position: relative;

  display: flex;
  justify-content: center;
}

.password-field {
  width: 400px;
  padding-top: 50px;
}

.password-title {
  font-size: 20px;
  margin-bottom: 40px;
}

.row {
  margin-bottom: 20px;
}

#name-input,
#email-input {
  width: 400px;
  line-height: 23px;
  height: 45px;

  border: 1px solid #ddd;
  margin-top: 10px;
  /* margin-bottom: 20px; */
  padding: 10px 15px;
}

.btn-wrapper {
  margin: 15px;
  text-align: center;
  vertical-align: baseline;
}

.submit-button {
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 12px 20px;
  border-radius: 5px;
  border: solid 1px;

  margin-bottom: 15px;

  cursor: pointer;
}

#email-send-btn {
  color: white;
  background-color: black;
}

#email-send-btn:hover {
  transition: all 0.2s;
  background-color: lightgrey;
}
