<html>
  <head>
    <link rel="stylesheet" href="passwordFind.css" />
    <title>PASSWORD FIND</title>
  </head>
  <body>
    <div class="all">
      <header class="header">
        <div class="name">
          <h1>가명 : 19조와 4분의 3</h1>
        </div>
        <nav class="nav">
          <ul>
            <il>HOME</il>
            <il>SHOP</il>
            <il>Log In</il>
            <il>Cart</il>
          </ul>
        </nav>
      </header>
      <section class="password-wrapper">
        <div class="password-field">
          <p class="password-title">비밀번호 찾기</p>
          <div class="row">
            <label for="name-input">이름</label>
            <input id="name-input" type="text" />
          </div>
          <div class="row">
            <label for="email-input">이메일</label>
            <input id="email-input" type="password" />
          </div>
          <div class="btn-wrapper">
            <button type="submit" class="submit-button" id="email-send-btn">
              이메일 보내기
            </button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
