<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Belleza&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
    <script src="js/jquery-3.6.0.js"></script>
  </head>
  <body>
    <header>
      <div class="header-wrap">
        <div class="logo">
          <a href="#"><img src="img/logo.png" alt="" /></a>
        </div>
        <div class="menu">
          <ul id="navbar">
            <li><a href="/shop">스토어</a></li>
            <li><a href="/cart">장바구니</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <section class="section1">
        <div class="section1-wrap">
          <h2>NEW COLLECTION</h2>
          <p>9 3/4 상품을 만나보세요</p>
          <div><a href="/shop">Shop Now</a></div>
        </div>
      </section>
      <section class="section2">
        <h2>New Item</h2>
        <div class="item-list">
          <!-- api 연동 자리  -->
        </div>
      </section>
    </div>
    <a href="/shop" class="section3-wrap">
      <section class="section3">
        <div class="des">
          <h2 class="title">BLACK FRYDAY</h2>
          <p class="d-day"></p>
          <div><a href="/shop">Shop Now</a></div>
        </div>
      </section>
    </a>

    <!-- <section class="section4">
      <h2>harry poter series</h2>
    </section> -->
    <a href="/shop"
      ><section class="section4">
        <div class="des">
          <h2>MEMBERSHIP EVENTS</h2>
          <p>지금 가입하면 20% 할인쿠폰을 드립니다</p>
          <div><a href="/register">Sign Up</a></div>
        </div>
      </section>
    </a>
    <section class="section5">
      <div class="section5-title">
        <h2>NEWS</h2>
      </div>
    </section>

    <section class="section7">
      <div class="container">
        <div class="content-box">
          <div class="text1">
            <h2>What is Lorem Ipsum?</h2>
            <br />
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.<br /><br /><br />

            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in classical literature,
            discovered the undoubtable source. Lorem Ipsum comes from sections
            1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a
            treatise on the theory of ethics, very popular during the
            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
            amet..", comes from a line in section 1.10.32. The standard chunk of
            Lorem Ipsum used since the 1500s is reproduced below for those
            interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
            Malorum" by Cicero are also reproduced in their exact original form,
            accompanied by English versions from the 1914 translation by H.
            Rackham.
          </div>

          <div class="img-box">
            <img src="img/harry1.jpg" alt="해리포터이미지" />
          </div>
        </div>
        <div class="content-box1">
          <div class="img-box1">
            <img src="img/lon.jpg" alt="론이미지" />
          </div>
          <div class="text2">
            <h2>What is Lorem Ipsum?</h2>
            <br />
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.<br /><br /><br />

            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in classical literature,
            discovered the undoubtable source. Lorem Ipsum comes from sections
            1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a
            treatise on the theory of ethics, very popular during the
            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
            amet..", comes from a line in section 1.10.32. The standard chunk of
            Lorem Ipsum used since the 1500s is reproduced below for those
            interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
            Malorum" by Cicero are also reproduced in their exact original form,
            accompanied by English versions from the 1914 translation by H.
            Rackham.
          </div>
        </div>
        <div class="content-box2">
          <div class="text3">
            <h2>What is Lorem Ipsum?</h2>
            <br />
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </div>
          <div class="img-box2"></div>
          <div class="text4">
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in classical literature,
            discovered the undoubtable source. Lorem Ipsum comes from sections
            1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a
            treatise on the theory of ethics, very popular during the
            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
            amet..", comes from a line in section 1.10.32. The standard chunk of
            Lorem Ipsum used since the 1500s is reproduced below for those
            interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
            Malorum" by Cicero are also reproduced in their exact original form,
            accompanied by English versions from the 1914 translation by H.
            Rackham.
          </div>
        </div>
      </div>
    </section>
    <div class="tech-slideshow">
      <div class="mover-1"></div>
      <div class="mover-2"></div>
    </div>
    <footer>
      <div>여기는 푸터입니다</div>
    </footer>
  </body>
</html>
