<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />

    <script src="home.js" type="module" defer></script>
    <script src="js/jquery-3.6.0.js"></script>
  </head>
  <body>
    <header>
      <div class="header-wrap">
        <div class="logo"><a href="#">logo</a></div>
        <div class="menu">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/shop">SHOP</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/cart">Cart</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <section class="section1">
        <div class="section1-wrap">
          <h2>NEW COLLECTION</h2>
          <p>9 / 43 상품을 만나보세요</p>
          <div><a href="#">Shop Now</a></div>
        </div>
      </section>
      <section class="section2">
        <h2>New Item</h2>
        <div class="item-list">
          <div class="product">
            <div class="sumnail">
              <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
            </div>
            <div class="product-info">
              <p class="name">아브라카다브라</p>
              <p class="price">8000 원</p>
            </div>
          </div>
          <div class="product">
            <div class="sumnail">
              <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
            </div>
            <div class="product-info">
              <p class="name">아브라카다브라</p>
              <p class="price">8000 원</p>
            </div>
          </div>
          <div class="product">
            <div class="sumnail">
              <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
            </div>
            <div class="product-info">
              <p class="name">아브라카다브라</p>
              <p class="price">8000 원</p>
            </div>
          </div>
          <div class="product">
            <div class="sumnail">
              <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
            </div>
            <div class="product-info">
              <p class="name">아브라카다브라</p>
              <p class="price">8000 원</p>
            </div>
          </div>
          <div class="product">
            <div class="sumnail">
              <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
            </div>
            <div class="product-info">
              <p class="name">아브라카다브라</p>
              <p class="price">8000 원</p>
            </div>
          </div>
          <div class="product">
            <div class="sumnail">
              <img src="img/b6ce11f84cd989d835461e5736a5e503.jpg" alt="" />
            </div>
            <div class="product-info">
              <p class="name">아브라카다브라</p>
              <p class="price">8000 원</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <a href="#">
      <section class="section3">
        <div class="des">
          <h2>착한 아이템 ? 차후 디자인 예정</h2>
          <p>여기에 디스크립션을 남겨주세요</p>
        </div>
      </section>
    </a>

    <!-- <section class="section4">
      <h2>harry poter series</h2>
    </section> -->
    <a href="#"
      ><section class="section4-banner">
        <div class="des">
          <h2>나쁜 아이템 ? 차후 디자인 예정</h2>
          <p>여기에 디스크립션을 남겨주세요</p>
        </div>
      </section>
    </a>
    <section class="section5">
      <div class="section5-title">
        <h2>NEWS</h2>
      </div>
      <div class="news-wrap">
        <div class="news1 news">
          <div class="band">
            <h3>이름넣기</h3>
            <p>디스크립션 넣기</p>
          </div>
        </div>
        <div class="news2 news">
          <div class="band">
            <h3>이름넣기</h3>
            <p>디스크립션 넣기</p>
          </div>
        </div>
        <div class="news3 news">
          <div class="band">
            <h3>이름넣기</h3>
            <p>디스크립션 넣기</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section6">
      <div class="section6-banner">
        <div class="info-wrap">
          <div class="text">
            <h2>무엇가 할것</h2>
            <p>des</p>
          </div>
          <div class="go-btn"><a href="#">자세히보러가기</a></div>
        </div>
      </div>
    </section>
    <footer>
      <div>여기는 푸터입니다</div>
    </footer>
  </body>
</html>
