* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}

/* -----------header------------------------------- */
header {
  width: 100%;
  padding: none;
  position: fixed;
  z-index: 100;
  transition: all 2s;
}
header a {
  color: black
}

.down {
  background-color: rgb(0, 0, 0, 0.6);
  transition: all 1.5s;
}
.down1 {
  color: rgb(255, 255, 255);
  transition: all 0.7s;
}

.header-wrap {
  width: 1100px;
  padding: 30px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
}

header .menu ul {
  display: flex;
  flex-flow: row wrap;
}
header .menu ul li {
  padding: 0 10px;
  text-align: center;
}
/* ------------------ */

.login-wrapper {
  width: 100%;
  height: auto;
  position: relative;

  display: flex;
  justify-content: center;
}

.login-field {
  width: 400px;
  padding-top: 50px;
  margin-top: 150px;
}

.login-title {
  font-size: 20px;
  margin-bottom: 40px;
}

.row {
  margin-bottom: 20px;
}

#login-input,
#password-input {
  width: 400px;
  line-height: 23px;
  height: 45px;

  border: 1px solid #ddd;
  margin-top: 10px;
  /* margin-bottom: 20px; */
  padding: 10px 15px;
}

.password-find {
  display: flex;
  justify-content: center;
  margin: 30px;

  cursor: pointer;
}

.btn-wrapper {
  margin: 15px;
  text-align: center;
  vertical-align: baseline;
}

.submit-button {
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 12px 20px;
  border-radius: 5px;
  border: solid 1px;

  margin-bottom: 15px;

  cursor: pointer;
}

#login-btn {
  color: white;
  background-color: black;
}

#login-btn:hover {
  transition: all 0.2s;
  background-color: lightgrey;
}

#signup-btn {
  color: black;
  background-color: white;
}

#signup-btn:hover {
  transition: all 0.2s;
  background-color: black;
  color: white;
}
