<html>
  <head>
    <link rel="stylesheet" href="login.css" />
    <title>연습</title>
  </head>
  <body>
    <div class="all">
      <header class="header">
        <div class="name">
          <h1>가명 : 19조와 4분의 3</h1>
        </div>
        <nav class="nav">
          <ul>
            <il>HOME</il>
            <il>SHOP</il>
            <il>Log In</il>
            <il>Cart</il>
          </ul>
        </nav>
      </header>
      <section class="login-wrapper">
        <div class="login-field">
          <p class="login-title">로그인</p>
          <div class="row">
            <label class="login-label" for="login-input">이메일</label>
            <input id="login-input" type="email" />
          </div>
          <div class="row">
            <label for="login-user-pw">비밀번호</label>
            <input id="password-input" type="password" />
          </div>
          <p class="password-find">비밀번호 찾기</p>
          <div class="btn-wrapper">
            <button type="submit" class="submit-button" id="login-btn">
              로그인하기
            </button>
            <button class="submit-button" id="signup-btn">회원 가입하기</button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
