<html>
  <head>
    <link rel="stylesheet" href="login.css" />
    <script src="login.js" type="module" defer></script>
    <script src="js/jquery-3.6.0.js"></script>
    <title>연습</title>
  </head>
  <body>
    <div class="all">
      <header>
        <div class="header-wrap">
          <div class="logo"><a href="#">logo</a></div>
          <div class="menu">
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="../shop/shop.html">SHOP</a></li>
              <li><a href="../login/login.html">Log in</a></li>
              <li><a href="../cart/cart.html">Cart</a></li>
            </ul>
          </div>
        </div>
      </header>
      <section class="login-wrapper">
        <div class="login-field">
          <p class="login-title">로그인</p>
          <div class="row">
            <label class="login-label" for="login-input">이메일</label>
            <input id="login-input" type="email" />
          </div>
          <div class="row">
            <label for="login-user-pw">비밀번호</label>
            <input id="password-input" type="password" />
          </div>
          <p class="password-find"><a href="../passwordFind/passwordFind.html">비밀번호 찾기</a></p>
          <div class="btn-wrapper">
            <button type="submit" class="submit-button" id="login-btn">
              로그인하기
            </button>
            <button class="submit-button" id="signup-btn">회원 가입하기</button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
