* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
}
html {
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}
/* -----------header------------------------------- */
.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-size: 30px;
  letter-spacing: 5px;
}

.logo img {
  width: 50px;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  font-weight: bold;
}

header a {
  color: black
}

header h2 {
  margin: 0 auto;
}

.header-wrap {
  width: auto;
  max-width: 1000px;
  padding: 30px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header .menu ul {
  display: flex;
  flex-flow: row wrap;
}
header .menu ul li {
  padding: 0 10px;
  text-align: center;
}

.shop-section1 {
  width: 100%;
  background-color: rgb(238, 237, 237);
  padding: 10px 0;
}

.shop-section1 h2 {
  width: 1000px;
  margin: 0 auto;
}
/* ------------------ */

.basketdiv {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  float: left;
  font-size: 0.9375em;
  margin-bottom: 20px;
}
.basketdiv .row.head {
  border-bottom: 2px solid #888;
  box-sizing: border-box;
  background-color: #f4f4f4;
  font-weight: 500;
}
.basketdiv .data {
  /* border-bottom: 1px dashed #888; */
  /* cursor: pointer; */
  padding: 20px 0px;
  float: left;
  width: 100%;
}
.basketdiv .data .empty {
  text-align: center;
  padding: 12px 0;
}
.basketdiv .row.head .subdiv {
  background-color: #f4f4f4;
}

.basketdiv .row > .subdiv {
  display: block;
  float: left;
}
.basketdiv .row > .subdiv:nth-child(1) {
  width: 50%;
}
.basketdiv .row > .subdiv:nth-child(2) {
  width: 40%;
}
.basketdiv .row > .subdiv:nth-child(3) {
  width: 10%;
}
.basketdiv2 .row > .subdiv:nth-child(1) {
  width: 60%;
}
.basketdiv2 .row > .subdiv:nth-child(2) {
  width: 40%;
}
.basketdiv .row > div > div {
  display: block;
  float: left;
  text-align: center;
  margin: 0;
  padding: 12px 0;
}
.basketdiv .row.data > div > div {
  height: 60px;
  /* line-height: 60px; */
}
.basketdiv .data .num .updown {
  color: #0075ff;
  font-size: 2em;
  letter-spacing: -5px;
}
.basketdiv .check {
  width: 10%;
}
.basketdiv .check input[type="checkbox"] {
  transform: scale(1.5);
}
.basketdiv .img {
  width: 70px;
}
.basketdiv .pname {
  width: 70%;
}
.basketdiv2 .pname {
  width: 80%;
}
.basketdiv .basketprice {
  width: 33%;
}
.basketdiv .num {
  width: 33%;
  min-width: 105px;
}
.basketdiv .sum {
  width: 34%;
  max-width: 80px;
  color: #0000aa;
}
.basketdiv .point {
  width: 50%;
}
.basketdiv2 .basketprice {
  width: 25%;
}

.basketdiv2 .num {
  width: 25%;
}

.basketdiv2 .sum {
  width: 25%;
  color: #0000aa;
}

.basketdiv2 .point {
  width: 25%;
}
.basketdiv .basketcmd {
  width: 100%;
}
.basketdiv .data .pname {
  text-align: center !important;
  line-height: 1.2 !important;
}
.basketdiv .data .price,
.basketdiv .data .sum,
.basketdiv .data .point {
  text-align: right;
}
.baseform > tbody > tr > td:first-child {
  width: 100px;
}

.buttongroup {
  padding: 11px 0;
  margin: 50px 0;
}
.narrowbuttongroup {
  margin: 15px 0;
}
.buttongroup.center {
  text-align: center;
}
.buttongroup input[type="text"],
.buttongroup input[type="password"] {
  height: 30px;
}
.buttongroup button,
.buttongroup a {
  margin-right: 5px;
}
.buttongroup button:last-child,
.buttongroup a:last-child {
  margin-right: 0;
}

.abutton,
.abutton:link,
.abutton:visited,
.abutton:active,
input[type="button"] {
  background-color: #383838;
  border: 1px solid #888888;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: -1px;
  padding: 3px 5px;
  margin: 2px 3px;
  width: auto;
  word-break: keep-all;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9375em;
}

.abutton-alt {
  background-color: #d3e2c6;
}

.red {
  color: #b00;
}
.blue {
  color: #0075ff;
}
.basketrowcmd,
.sumcount,
.summoney {
  text-align: right;
  margin-bottom: 10px;
}
.sumcount,
.summoney {
  font-size: 1.25em;
  font-weight: bold;
}
.buttongroup {
  text-align: center;
}
.buttongroup a {
  text-decoration: none;
}
.cmd a,
.cmd span {
  padding: 12px 20px;
  font-size: 1.1em;
  color: white;
  background-color: black;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s;
}

.cmd a:hover {
  background-color: white;
  color: black;
}

.cmd.small a,
.cmd.small span {
  padding: 6px 20px;
  font-size: 0.8125em;
}

.orderform .p_num {
  text-align: center;
  width: 40px;
  font-size: 0.7em;
}

/* 수정 부분 */

.cart-body{
  margin-top: 50px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.cart-info{
  width: 1100px;
  height: auto;
}

.orderform {
    /* border-bottom: solid 16px #e5e5e5; */
    margin-bottom: 2rem;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.subdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---------- */
.data {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ------footer---- */
footer {
  background-color: rgb(14, 14, 14);
  padding: 50px 20px;
  margin-top: 100px;
}
footer .contents-wrap {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
footer .contents-wrap .contents1 {
  width: 70%;
  color: white;
  line-height: 30px;
}
footer .contents-wrap .contents1 span {
  margin-right: 20px;
}
footer .contents-wrap .contents2 {
  width: 30%;
}
footer .contents-wrap .contents2 i {
  margin-right: 15px;
  color: white;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
