<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>장바구니</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Belleza&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="cart.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="cart.js" defer></script>
  </head>
  <body>
    <header>
      <div class="header-wrap">
        <div class="logo">
          <a href="/">PLATFORM 9 3/4</a>
        </div>
        <div class="menu">
          <ul id="navbar">
            <li><a href="/myPage">Account</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/shop">Log Out</a></li>
          </ul>
        </div>
      </div>
    </header>
    <form
      name="orderform"
      id="orderform"
      method="post"
      class="orderform"
      action="/Page"
      onsubmit="return false;"
    >
      <input type="hidden" name="cmd" value="order" />
      <div class="basketdiv" id="basket">
        <div class="row head">
          <div class="subdiv">
            <div class="check">선택</div>
            <div class="img">이미지</div>
            <div class="pname">상품명</div>
          </div>
          <div class="subdiv">
            <div class="basketprice">가격</div>
            <div class="num">수량</div>
            <div class="sum">합계</div>
          </div>
          <div class="subdiv">
            <div class="basketcmd">삭제</div>
          </div>
          <div class="split"></div>
        </div>
      </div>
      <!-- <div class="row-wrap"></div> -->

      <div class="right-align basketrowcmd">
        <a
          href="javascript:void(0)"
          class="abutton"
          onclick="javascript:basket.delCheckedItem();"
          >선택상품삭제</a
        >
        <a
          href="javascript:void(0)"
          class="abutton"
          onclick="javascript:basket.delAllItem();"
          >장바구니비우기</a
        >
      </div>

      <div class="bigtext right-align sumcount" id="sum_p_num">
        상품갯수: 4개
      </div>
      <div class="bigtext right-align box blue summoney" id="sum_p_price">
        합계금액: 74,200원
      </div>

      <div id="goorder" class="">
        <div class="clear"></div>
        <div class="buttongroup center-align cmd">
          <a href="javascript:void(0);">선택한 상품 주문</a>
        </div>
      </div>
    </form>

    <footer>
      <div class="container">
        <div class="contents-wrap">
          <div class="contents1">
            <p>
              상호: PLATFORM 9 3/4 | 대표: 이요섭 | 개인정보관리책임자: 허재 |
              전화 010-1234-1234
            </p>
            <p>
              팀명: 아즈카반의개발자들 | FE : 안영재 , 허자영 , 김선은 | BE :
              이요섭 , 허재
            </p>
            <p>
              주소: 해리포터길 아즈카반 감옥 26 1호 | 사업자 등록번호:
              123-13-23425
            </p>
            <a href="/">이용약관</a>
            <a href="/">개인정보처리방침</a>
            <a href="/">사업자정보확인</a>
            <p>Copright © 2022 아즈카반의 개발자들. ALL RIGHTS RESERVED.</p>
          </div>
          <div class="contents2">
            <a href="/"><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a href="/"><i class="fa-brands fa-github fa-2x"></i></a>
            <a href="/"><i class="fa-brands fa-discord fa-2x"></i></a>
            <a href="/"><i class="fa-solid fa-envelope fa-2x"></i></a>
            <a href="/"><i class="fa-brands fa-youtube fa-2x"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
